
/**
 * TYPOGRAPHY HELPERS
 */

.text-upper { text-transform: uppercase !important; }
.text-lower { text-transform: lowercase !important; }
.text-capitalize { text-transform: capitalize !important; }
.text-default-case { text-transform: none !important; }
.text-bold { font-weight: bold !important; }
.text-semibold { font-weight: 600 !important; }
.text-medium { font-weight: 500 !important; }
.text-italic { font-style: italic !important; }
.text-underline { text-decoration: underline !important; }
.text-no-underline { text-decoration: none !important; }
.font-base { font-family: $font-family-base !important; }
.font-narrow { font-family: $font-family-condensed !important; font-weight: 400; }
.font-head { font-family: $font-family-headings !important; font-weight: 400; }
.font-hand { font-family: $font-family-handwrite !important; }
.lh-default { line-height: $line-height-base !important; }
.lh-headline { line-height: $headings-line-height !important; }
.ts-33 { font-size: 33.333% !important; }
.ts-50 { font-size: 50% !important; }
.ts-60 { font-size: 60% !important; }
.ts-75 { font-size: 75% !important; }
.ts-80 { font-size: 80% !important; }
.ts-90 { font-size: 90% !important; }
.ts-100 { font-size: 100% !important; }
.ts-120 { font-size: 120% !important; }
.ts-150 { font-size: 150% !important; }
.ts-200 { font-size: 200% !important; }
.ts-250 { font-size: 250% !important; }
.ts-300 { font-size: 300% !important; }
.lh-33 { line-height: 0.333 !important; }
.lh-50 { line-height: 0.5 !important; }
.lh-60 { line-height: 0.6 !important; }
.lh-75 { line-height: 0.75 !important; }
.lh-80 { line-height: 0.8 !important; }
.lh-90 { line-height: 0.9 !important; }
.lh-100 { line-height: 1 !important; }
.lh-120 { line-height: 1.2 !important; }
.lh-150 { line-height: 1.5 !important; }
.lh-200 { line-height: 2 !important; }
.lh-300 { line-height: 3 !important; }
.ls-0075 { letter-spacing: 0.075em !important; }
.ls-02 { letter-spacing: 0.2em !important; }
.ls-05 { letter-spacing: 0.5em !important; }
.nowrap { white-space: nowrap; }