Object.assign(Startpage.prototype, { template(){ return `
<div class="d-flex flex-md-nowrap flex-column flex-lg-row">

  <div class="col-lg-2 d-flex flex-column filter-holder p-0">
    <a class="p-0" data-toggle="collapse" href="#collapseFilter" role="button" aria-expanded="false" aria-controls="collapseFilter">
      <div class="filter-heading">
        <i class="fa mr-2" aria-hidden="true"></i>Filter</div>
    </a>
    <div class="collapse show" id="collapseFilter">
      <div class="card card-body p-0 border-0">
        <a class="p-0 m-0 border-0" data-toggle="collapse" href="#collapse-court-type" role="button" aria-expanded="false" aria-controls="collapse-court-type">
          <div class="filter-secondary-heading"><i class="fa mr-2" aria-hidden="true"></i>Banor</div>
        </a>


        <div class="collapse show" id="collapse-court-type">
          <div class="filter-toggle d-flex flex-row flex-nowrap">
            <p>Fribana</p>
            <div class="switch ml-auto mt-1 pr-2">
              <input id="cmn-toggle-1" class="cmn-toggle cmn-toggle-round-flat" type="checkbox">
              <label for="cmn-toggle-1"></label>
            </div>
          </div>

          <div class="filter-toggle d-flex flex-row flex-nowrap">
            <p>Betalbana</p>
            <div class="switch ml-auto mt-1 pr-2">
              <input id="cmn-toggle-2" class="cmn-toggle cmn-toggle-round-flat" type="checkbox">
              <label for="cmn-toggle-2"></label>
            </div>
          </div>

          <div class="filter-toggle d-flex flex-row flex-nowrap">
            <p>Inomhus</p>
            <div class="switch ml-auto mt-1 pr-2">
              <input id="cmn-toggle-3" class="cmn-toggle cmn-toggle-round-flat" type="checkbox">
              <label for="cmn-toggle-3"></label>
            </div>
          </div>

          <div class="filter-toggle d-flex flex-row flex-nowrap">
            <p>Utomhus</p>
            <div class="switch ml-auto mt-1 pr-2">
              <input id="cmn-toggle-4" class="cmn-toggle cmn-toggle-round-flat" type="checkbox">
              <label for="cmn-toggle-4"></label>
            </div>
          </div>
        </div>


        <a class="p-0" data-toggle="collapse" href="#collapse-surface" role="button" aria-expanded="false" aria-controls="collapse-surface">
          <div class="filter-secondary-heading"><i class="fa mr-2" aria-hidden="true"></i>Underlag</div>
        </a>
        <div class="collapse show" id="collapse-surface">
          <div class="filter-toggle d-flex flex-row flex-nowrap">
            <p>Hardcourt</p>
            <div class="switch ml-auto mt-1 pr-2">
              <input id="cmn-toggle-5" class="cmn-toggle cmn-toggle-round-flat" type="checkbox">
              <label for="cmn-toggle-5"></label>
            </div>
          </div>

          <div class="filter-toggle d-flex flex-row flex-nowrap">
            <p>Grus</p>
            <div class="switch ml-auto mt-1 pr-2">
              <input id="cmn-toggle-6" class="cmn-toggle cmn-toggle-round-flat" type="checkbox">
              <label for="cmn-toggle-6"></label>
            </div>
          </div>

          <div class="filter-toggle d-flex flex-row flex-nowrap">
            <p>Filt</p>
            <div class="switch ml-auto mt-1 pr-2">
              <input id="cmn-toggle-7" class="cmn-toggle cmn-toggle-round-flat" type="checkbox">
              <label for="cmn-toggle-7"></label>
            </div>
          </div>

          <div class="filter-toggle d-flex flex-row flex-nowrap">
            <p>Asfalt</p>
            <div class="switch ml-auto mt-1 pr-2">
              <input id="cmn-toggle-8" class="cmn-toggle cmn-toggle-round-flat" type="checkbox">
              <label for="cmn-toggle-8"></label>
            </div>
          </div>
        </div>


        <a class="p-0" data-toggle="collapse" href="#collapse-quality" role="button" aria-expanded="false" aria-controls="collapse-quality">
          <div class="filter-secondary-heading"><i class="fa mr-2" aria-hidden="true"></i>Kvalitet</div>
        </a>

        <div class="collapse show" id="collapse-quality">
          <div class="filter-toggle d-flex flex-row flex-nowrap">
            <p>Låg</p>
            <div class="switch ml-auto mt-1 pr-2">
              <input id="cmn-toggle-9" class="cmn-toggle cmn-toggle-round-flat" type="checkbox">
              <label for="cmn-toggle-9"></label>
            </div>
          </div>

          <div class="filter-toggle d-flex flex-row flex-nowrap">
            <p>Mellan</p>
            <div class="switch ml-auto mt-1 pr-2">
              <input id="cmn-toggle-10" class="cmn-toggle cmn-toggle-round-flat" type="checkbox">
              <label for="cmn-toggle-10"></label>
            </div>
          </div>

          <div class="filter-toggle d-flex flex-row flex-nowrap">
            <p>Hög</p>
            <div class="switch ml-auto mt-1 pr-2">
              <input id="cmn-toggle-11" class="cmn-toggle cmn-toggle-round-flat" type="checkbox">
              <label for="cmn-toggle-11"></label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="col-lg-7">Map</div>


  <div class="col-lg-3 court-holder p-0">
    <div class="court-heading py-1 pl-3"><i class="fas fa-road mr-2"></i>Lista på banor i Lunds kommun</div>
    ${this.renderCourt()}

  </div>
  `;}});